<p id="notice"><%= notice %></p>

<h1>Tweets</h1>

<div class="card">
  <%= render 'form', tweet: Tweet.new %>
</div>

<%= turbo_stream_from 'tweets' %>
<%= turbo_frame_tag 'tweets' do %>
  <%= render @tweets %>
<% end %>

<br>

<%= link_to 'New Tweet', new_tweet_path, class: 'primary-button' %>
