<p id="notice"><%= notice %></p>

<h1>Tweets</h1>

<div class="card">
  <%= turbo_frame_tag "tweet_form" do %>
    <%= render 'form', tweet: Tweet.new %>
  <% end %>
</div>

<%= turbo_stream_from 'tweets' %>
<%= turbo_frame_tag 'tweets' do %>
  <%= render @tweets.reverse %>
<% end %>

<br>

<%= link_to 'New Tweet', new_tweet_path, class: 'primary-button' %>
